@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  ;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: var(--font-roboto);
}

@theme {
  --color-primary: #819A91;
  --color-secondary: #A7C1A8;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer components {
  .active_link {
    @apply text-primary relative;
  }

  .active_link::after {
    content: "";
    @apply absolute border-b-4 w-[70%] mx-auto bottom-0 right-[15%] rounded-4xl;
  }
}